# Set vars and rename file to project.vars.secret.yml
# See description: https://github.com/w32blaster/telegram-notification-resource

telegram-bot-token: 5115286112:AAFCwTUBNRqk8WrGOIJkRTLjElo0kgylkxg
telegram-channel: -1001775600430
